---
layout: default
title: Services
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <a href="/subscription"><h2>Subscription</h2></a>
        <p>A subscription includes access to GitLab Enterprise Edition and support.</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/consultancy"><h2>Consultancy</h2></a>
        <p>Hire us to help you.</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/training"><h2>Training</h2></a>
        <p>Git training workshops.</p>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="/cloud"><h2>Cloud</h2></a>
        <p>Use GitLab without installing anything.</p>
      </div>
    </div>
  </div>
</div>
