---
layout: default
title: GitLab Cloud
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p><span style="line-height:1.6;">Gitlab Cloud allows you to use GitLab without installing anything.</span><span style="line-height:1.6;"> To get a free account with unlimited private repositories and unlimited private collaborators please </span><a style="line-height:1.6;" title="sign up now" href="https://gitlab.com/users/sign_up">sign up now</a>.</p>
              <h2><strong>Advantages of Gitlab Cloud</strong></h2>
              <p>Gitlab.com makes using Gitlab more convenient: with our hosted Gitlab repositories, you can save yourself the burden of installing, maintaining and making backups of your Gitlab installation. Instead, you can instantly enjoy all the <a title="Features" href="https://www.gitlab.com/gitlab-ee/">great features</a> Gitlab has to offer. Getting started with Gitlab has never been easier. In addition to that, with Gitlab.com you get unlimited hosted private repository for free!</p>
              <p><a href="http://demo.gitlab.com/">Try the demo now</a> (no account needed).</p>
              <h2>What we offer</h2>
              <ul>
                <li>Unlimited repositories</li>
                <li>Unlimited private collaborators</li>
                <li>Unlimited disk space *</li>
                <li>Completely free, no credit card required</li>
                <li>Email Support</li>
                <li>All the <a title="Features" href="https://www.gitlab.com/gitlab-ee/">great GitLab functionality</a></li>
              </ul>
              <p><em>* For performance reasons there is a soft limit of 1GB per repository</em></p>
              <h2>Security</h2>
              <p>GitLab is hosted on the Amazon AWS cloud. AWS has in the past successfully completed multiple SAS70 Type II audits, and now publishes a Service Organization Controls 1 (SOC 1), Type 2 report, published under both the SSAE 16 and the ISAE 3402 professional standards as well as a Service Organization Controls 2 (SOC 2) report. In addition, AWS has achieved ISO 27001 certification.</p> 
              <h2>Availability</h2>
              <p>GitLab Cloud is monitored 24/7. You can see its current and historic performance on our <a title="status" href="http://status.gitlab.com/">status page.</a></p>
              <h2>Why is GitLab Cloud free</h2>
              <p>We offer GitLab Cloud for free to widen the audience for GitLab. The income we generate with <a href="https://www.gitlab.com/subscription/">subscriptions for on-premise installations</a> is sufficient to cover the costs of GitLab Cloud and our work on the GitLab Community Edition. In the future we might expand our Cloud offerings based on customer demand. We will likely add paid extra's for costly services such as phone support. But we plan to continue to offer the core service for free.</p>
              <h2>Limitations</h2>
              <p>
                GitLab Cloud does not allow you to easily export your repositories, wiki's and issues to your own GitLab instance.
                Of couse you can git clone the repositories and import then with <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/tasks/gitlab/import.rake">a rake task</a>.
                And since the wiki is backed by a git repo you can clone that as well.
                But these are manual actions and for the issues there is no automation available except for <a href="http://api.gitlab.org/issues.html">the issue API</a>.
                So if you plan on using your own server eventually please consider doing so from the start.
              </p>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
