---
layout: default
title: Training
---

<div id="content" class="txt-middle">
  <div class="container">
    <p> We organize git training workshops for companies</p>
    <a href="/contact">Contact us</a> for more details.
  </div>
</div>
