---
layout: default
title: "GitLab core team"
date: 2013-07-03 18:34
comments: false
sharing: true
footer: true
---
<div id="content">
  <div class="container">
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/dmitriy.png" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/dzaporozhets"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://ua.linkedin.com/in/dzaporozhets"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/dzaporozhets"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/randx"><div class="github no-margin"></div></a>
            </li>
            <li>
              <a href="http://dzaporozhets.me/">dzaporozhets.me</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Dmitriy Zaporozhets</h2>
        <p>Dmitriy started GitLab in september 2011 and has released it every month on the 22nd since then. He wanted to make a great and free project management system that he could use every day. He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime. When he has time he loves to code a major new GitLab feature in two days. He loves a good Martini and a merge request that can be accepted without comments.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/">GitLab CE</a>
            Lead
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ci/">GitLab CI</a>
            Lead
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/riyad.png" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://github.com/riyad"><div class="github no-margin"></div></a>
            </li>
            <li>
              <a href="http://blog.bilak.info/">blog.bilak.info</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Riyad Preukschas</h2>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            GitLab Flavored Markdown (GFM)
          </li>
          <li>
            comment parsing
          </li>
          <li>
            discussions on merge requests
          </li>
          <li>
            emoji
          </li>
          <li>
            satellites
          </li>
          <li>
            rake gitlab:check
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/nihad.png" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://github.com/NARKOZ"><div class="github no-margin"></div></a>
            </li>
            <li>
              <a href="http://narkoz.github.io/">narkoz.github.io</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Nihad Abbasov</h2>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            api
          </li>
          <li>
            atom feed
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/saito.png" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://github.com/SaitoWu"><div class="github no-margin"></div></a>
            </li>
            <li>
              <a href="http://saito.im/">saito.im</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Saito Wu</h2>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            character encoding
          </li>
          <li>
            git over http
          </li>
          <li>
            tree view readme support
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/marin.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/maxlazio"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://rs.linkedin.com/pub/marin-jankovski/21/a/a64"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/marin"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/maxlazio"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Marin Jankovski</h2>
        <p>Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef. When video conferencing with him you get a cat running accross the room as a bonus. He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over. You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat. He loves travelling and talking. A lot of talking. A lot.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            <a href="https://gitlab.com/gitlab-org/cookbook-gitlab">GitLab Cookbook</a>
            Lead
          </li>
          <li>
            GitLab Flavored Markdown (GFM) support
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/robert.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/Razer6"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/razer6"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/Razer6"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Robert Schilling</h2>
        <p>Robert is a developer who loves science and technology. He currently studies telematics with focus on digital signal processing at Graz University of Technology.  In his spare time he enjoys mountain biking, skiing and photography. When not in front of his computer, Robert can often be found with a glass of good single malt whisky or beer in his hand discussing sports and open source software.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            issue triage lead
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
     <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/jacob.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/jacobvosmaer"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/profile/view?id=15991252"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/jacobvosmaer"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/jacobvosmaer"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Jacob Vosmaer</h2>
        <p>Jacob is a doctor in logic. He likes to understand and explain complex technical systems. That helps with his job as a senior service engineer at GitLab.com. In his spare time he likes to read Unix books and has a second career as tango DJ in Amsterdam.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            omnibus-gitlab
          </li>
          <li>
             unix security
          </li>
          <li>
             LDAP
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/sytse.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/sytses"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://nl.linkedin.com/in/sijbrandij"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/sytses"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/dosire"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Sytse Sijbrandij</h2>
        <p>Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming. Before that he was engaged in business administration roles and combining that with software development is his passion. He is always looking to make a template out of something or to automate a process. His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut. He loves a good beer and organizing a tip to a conference.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            readme
          </li>
          <li>
            interface text
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row"></div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Volunteer Vacancy</h2>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-recipes/">GitLab Recipes</a>
            Lead
          </li>
        </ul>
        <h3 class="title">How to apply</h3>
        <ul class="team">
          <li>
            Your name here? Please email
            <a href="mailto:support@gitlab.com">support@gitlab.com</a>
            with examples of your open source contributions if you are interested.
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="row">
      <p>Many core team members did a lot of fixes, improvements and refactoring. The above list indicates some of their specialties but it is not complete.</p>
      <p>GitLab core team members who are no longer active but whose work is very much appreciated can be found on the <a href="/alumni">core team alumni page</a>.</p>
    </div>
  </div>
</div>
