---
layout: default
title: GitLab CI
---

<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <a href="/gitlab-ci"><h2>GitLab Continuous Integration Server</h2></a>
          <p>GitLab CI integrates with your GitLab installation and run tests for your projects..
          <br>
          Login with GitLab account, add project with one click and enjoy running tests.
          </p><div class="button-holder">
            <a class="btn btn-success btn-lg" href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/README.md"> Source code</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="entry">
            <h3 id="about">About</h3>
            <p>For more information see: <a href="http://blog.gitlab.org/announcing-gitlab-ci-3.0/">Announcing GitLab CI 3.0</a> and <a href="http://blog.gitlab.org/integrating-gitlab-ci-with-gitlab/">Integrating GitLab CI With GitLab to Enable Distributed Builds</a></p>
            <h3 id="requirements">Requirements</h3>
            <p>GitLab CI is designed for the Linux operating system.</p>
            <p>GitLab CI officially supports (recent versions of) these Linux distributions:</p>
            <ul>
              <li>Ubuntu Linux</li>
              <li>Debian/GNU Linux</li>
            </ul>
            <p>Additionally GitLab CI requires:</p>
            <ul>
              <li>ruby 1.9.3+</li>
              <li>MySQL or PostgreSQL</li>
            </ul>
            <h3 id="installation">Installation</h3>
            <ul>
              <li><a href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/doc/install/installation.md">Installation and setup guide</a></li>
            </ul>
            <h3 id="getting_help">Getting help</h3>
            <ul>
              <li><a href="http://feedback.gitlab.com/forums/176466-general/category/64310-gitlab-ci">Feedback and suggestions forum</a> is the place to propose and discuss new features for GitLab CI.</li>
            </ul>
            <hr>
            <p><img alt="Screen" src="https://github.com/downloads/gitlabhq/gitlab-ci/gitlab_ci_preview.png" class="img-responsive"></p>
          </div><!-- entry -->
        </div><!-- span 12 -->
      </div><!-- row -->
    </div><!-- row-fluid -->
  </div><!-- container -->
</div><!-- content -->
