---
layout: default
title: GitLab Community Edition
---

<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="row">
        <div class="col-sm-12 col-md-12 jumbotron">
          <a href="/gitlab-ce"><h2>Community Edition</h2></a>
          <p>GitLab is open source software to collaborate on code.
          <br>
          Create projects and repositories, manage access and do code reviews.
          </p><div class="button-holder">
            <a class="btn btn-info btn-lg" href="/downloads/"> Downloads</a>
            <a class="btn btn-success btn-lg" href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md"> Source code</a>
          </div><!-- button-holder -->
        </div> <!-- span 12 -->
      </div><!-- row -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2>GitLab Features</h2>
          <hr class="dashed">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_repository_access.png">
          <h2>Repository Access</h2>
          <p>Extended permission system with 5 access levels and branch protection.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_administration.png">
          <h2>Administration</h2>
          <p>Simplify management by creating groups of projects and teams of users.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_issues.png">
          <h2>Issues</h2>
          <p>Use the ticketing system included in GitLab or integrate your existing system.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_code_review.png">
          <h2>Code Review</h2>
          <p>Learn from eachother by leaving line comments in the diff.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_wiki.png">
          <h2>Wiki</h2>
          <p>Each project has a wiki backed up by a separate git repository.</p>
        </div>
        <div class="col-sm-4 col-md-4">
          <img class="thumbnail" alt="image" src="/images/features/sq_merge_request.png">
          <h2>Merge Requests</h2>
          <p>Work in git branches for a more efficient workflow.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="entry">
            <h3 id="gitlab_allows_you_to">GitLab allows you to</h3>
            <ul>
              <li>keep your code secure on your own server</li>
              <li>manage repositories, users and access permissions</li>
              <li>communicate through issues, line-comments and wiki pages</li>
              <li>perform code review with merge requests</li>
            </ul>
            <h3 id="gitlab_is">GitLab is</h3>
            <ul>
              <li>powered by Ruby on Rails</li>
              <li>completely free and open source (MIT license)</li>
              <li>used by more than 50.000 organizations to keep their code secure</li>
            </ul>
            <h3 id="requirements">Requirements</h3>
            <ul>
              <li>Ubuntu/Debian</li>
              <li>ruby 1.9.3+</li>
              <li>git 1.7.10+</li>
              <li>redis 2.0+</li>
              <li>MySQL or PostgreSQL</li>
            </ul>
            <p>** More details are in the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md">requirements doc</a></p>
            <h3 id="Demo">Demo</h3>
            <p> Try out the <a href="http://demo.gitlab.com">live demo.</a></p>

            <h3 id="installation">Installation</h3>
            <p>Installation options are in the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md#installation">readme</a>.</p>
            <h3 id="new_versions_and_upgrading">New versions and upgrading</h3>
            <p>Since 2011 GitLab is released on the 22nd of every month. More information can be found in the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md#new-versions-and-upgrading">readme</a>.</p>
            <h3 id="more_information">More information</h3>
            <p>The <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md">readme</a> contains information about a lot of subjects including interfaces and getting help.</p>
            <hr>
            <div class="screenshots">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                  <a href="#home" data-toggle="tab">Dashboard</a>
                </li>
                <li>
                  <a href="#s2" data-toggle="tab">Project page</a>
                </li>
                <li>
                  <a href="#s3" data-toggle="tab">Commit page</a>
                </li>
                <li>
                  <a href="#s4" data-toggle="tab">Browse repository</a>
                </li>
                <li>
                  <a href="#s5" data-toggle="tab">Submit Merge Request</a>
                </li>
                <li>
                  <a href="#s6" data-toggle="tab">Manage Issues</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="home">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_dash.png">
                      <img src="/images/screens/gitlab_dash.png">
                      <div class="caption">
                        <p>Application dashboard</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s2">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project.png">
                      <img src="/images/screens/gitlab_project.png">
                      <div class="caption">
                        <p>Project dashboard</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s3">
                  <div class="thumbnail">
                    <a href="/images/screens/diff.png">
                      <img src="/images/screens/diff.png">
                      <div class="caption">
                        <p>Commit page with diff</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s4">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project_tree.png">
                      <img src="/images/screens/gitlab_project_tree.png">
                      <div class="caption">
                        <p>Browse repository</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s5">
                  <div class="thumbnail">
                    <a href="/images/screens/gitlab_project_mr.png">
                      <img src="/images/screens/gitlab_project_mr.png">
                      <div class="caption">
                        <p>Review code with Merge Requests</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="s6">
                  <div class="thumbnail">
                    <a href="/images/screens/dash_issues.png">
                      <img src="/images/screens/dash_issues.png">
                      <div class="caption">
                        <p>Manage issues</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div> <!-- row-fluid screenshots -->
          </div><!-- entry -->
        </div><!-- span 12 -->
      </div><!-- row -->
    </div><!-- row-fluid -->
  </div><!-- container -->
</div><!-- content -->
