---
layout: default
title: Jobs
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <h2>Sales lead vacancy</h2>

              <p>Gitlab is quickly becoming more popular amongst organisations throughout the world to manage their source code. To keep up with our growth Gitlab.com is looking for a sales lead.</p>

              <p>As our sales lead will need to have B2B sales experience in the United States. Experience selling open source software (RedHat, MySQL, etc.) would be ideal. You would need to have closed large deals ($100k+) before. You will need to articulate our sales strategy and tactics, compose marketing materials and lead our account managers.</p>

              <p>Compensation could be in the form of a large performance based bonus or in the form of a company stake.</p>

              <p>We're a remote company and you'll mainly work from home. Most of our customers are in the continental U.S. time zones. We're considering opening an office in San Francisco in the future.</p>

              <p>Interested in joining our motivated team? Send us a short motivation plus your resume to sytse at gitlab dot com</p>

<!--
              <h2>Service engineer vacancy</h2>

              <p>GitLab.com is growing quickly and we would love to grow our team with a service engineer. Although there are many people that maintain their GitLab installation themselves the rising popularity of GitLab means that our professional services are in high demand. If you got the skills to help to upgrade and maintain GitLab we would love to talk to you.</p>

              <p>You would be engaging with our customers, this can be anything from as small advertising firm, a university to Fortune 100 clients. You have appointments throughout the day with clients that have filled out a small questionnaire. You get remote access to their GitLab server(s) and diagnose, upgrade, troubleshoot, configure, backup and reinstall it. During the the appointment you keep in touch with the client through chat or video conference.</p>

              <p>When you do not have an appointment you engage with the rest of the core team to improve GitLab. You fix problems, add features, improve documentation and engage with people on our feedback forum.</p>

              <p>You need to have experience with Unix and can program. Most clients will run RedHat or Debian variants and GitLab is written in Ruby on Rails. But we are open to people who for example love Solaris and C, as long as you like Unix and programming you will fit in. You don't have to be an English native but good written English and adequate verbal English is a must to engage with clients.</p>

              <p>At GitLab.com we mostly work from home and love to go to Rails conferences (paid for by GitLab.com). We are looking for people who can handle and enjoy the freedom that comes with working from home. Our watercoolers are the GitLab core team and GitLab contributors Campfire chat rooms and a daily Hangout.</p>

              <p>Interested? Please send an email to support@gitlab.com with a resume or a link to your LinkedIn profile.
              </p>
              <p>
                <h3>Team GitLab at Railsberry 2013</h3>
                <img src="../images/team_gitlab.png" alt="team gitlab">
              </p>
              <p>
                <h3>GitLab Summit 2013 in Serbia</h3>
                <img src="../images/serbia_summit.jpg" alt="team gitlab">
              </p>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
