---
layout: default
title: Contact
---

<div id="content" class="txt-middle">
  <div class="container">
    <ul class="animated" style="list-style:none">
      <div class="footer_text">
        <h3>Email</h3>
        <a href="mailto:sales@gitlab.com"> sales@gitlab.com</a>
        <li>&nbsp;</li>
        <h3>Twitter</h3>
        <a href="https://twitter.com/gitlabhq" class="twitter-follow-button" data-show-count="false">Follow @gitlabhq</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <li>&nbsp;</li>
        <h3>Website</h3>
        <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING">Contribute to this website</a>
        <li>&nbsp;</li>
        <h3>Newsletter</h3>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="newsletter-form">
          <form action="https://gitlab.us5.list-manage.com/subscribe/post?u=498dccd07cf3e9482bee33ba4&amp;id=98a9a4992c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Please enter your email address:
              </label>
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div> 
            </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary form-control"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->
        <h3>Address</h3>
        GitLab.com<br>Attn. Sytse Sijbrandij<br>Ondiep 108<br>3552EK Utrecht<br>The Netherlands
        <li>&nbsp;</li>
        <h3>Security</h3>
        <a href="/disclosure/">Responsible Disclosure Policy</a>
      </div>
    </ul>
  </div>
</div>
