---
layout: default
title: Subscription
---
<div id="content">
  <div class="container">     
    <div class="row">           
      <div class="col-sm-12 col-md-12">
        <div class="product-plan">
          <ul class="plans list-unstyled">
            <table class="table">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>Basic Subscription</th>
                    <th>Standard Subscription</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div title="Access to monthly updates of GitLab EE."><i class="glyphicons-group"></i>&nbsp;<a href="/gitlab-ee/">&nbsp;Enterprise Edition</a> license</div><span class="pull-right"></span></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Taking care of critical availability incidents, we aim for a 30 minute response time."><i class="glyphicons-life_preserver"></i>&nbsp;24/7 support</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="In case of a standard subscription this response time is for all non-critical incidents."><i class="glyphicons-clock"></i>&nbsp;Next business day support</div><span class="pull-right">
                    </span></td><td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="We train your engineers in git and GitLab best practices."><i class="glyphicons-briefcase"></i>&nbsp;Training</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="We help you with the installation, configuring backups and integrating with your email, LDAP and CI servers (e.g. Jenkins)."><i class="glyphicons-settings"></i>&nbsp;Installation and configuration</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Our engineer will do upgrades together with you if you request it." <i="" class="glyphicons-upload">&nbsp;Live upgrade assistance</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Support for GitLab CI installations is included."><i class="glyphicons-refresh"></i>&nbsp;GitLab CI support</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Advise to set up a highly available cluster."><i class="glyphicons-roundabout"></i>&nbsp;High Availability configuration </div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Ubuntu, Debian, CentOS and RHEL"><i class="glyphicons-display"></i>&nbsp;Support for major Linux operating systems</div></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="If you are not happy for whatever reason you will get your money back."><i class="glyphicons-new_window"></i>&nbsp;45 day money back guarantee</div></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Subscriptions are available per pack of 20 users for the basic subscription and per pack of 100 users for the standard subscription."><i class="glyphicons-parents"></i>&nbsp;User pack size</div></td>
                    <td>20</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td><div title="A user is defined as an individual authorized by you to use an on-premise GitLab server. The subscription will renew automatically."><i class="glyphicons-usd"></i>&nbsp;Price per user per year</div></td>
                    <td><b>$19.90</b></td>
                    <td><b>$49.00</b></td>
                  </tr>
                </tbody>
            </table>
            <div id="order_or_get_a_quote" class="action">
              <p>
              <a href="form.html" class="btn-action btn btn-primary">Request a quotation</a>
              <a href="/subscription/basic" class="btn-action btn btn-primary">Basic subscription</a>
              <a href="/subscription/standard" class="btn-action btn btn-primary">Standard subscription</a>
              </p>

              <p>
              The above subscription order buttons are for payment by credit-card, if you want to pay by <b>bank transfer</b> instead of credit-card please request a quotation first.
              </p>

              <p>
              For <b>educational institutions</b> there is a 50% education discount available, please get a quotation and indicate your preferred payment method (credit-card or bank transfer).
              </p>

              <p>
              If you have any questions please <a href="mailto:sales@gitlab.com">email us</a>.
              </p>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
