---
layout: default
title: Documentation
---
<div id="content">
  <div class="container">
    <div class="entry col-sm-12 col-md-12">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Community Edition</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md">GitLab CE README</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/development/architecture.md">GitLab CE Architecture</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md#installation">GitLab CE Installation</a>
          </li>
          <li>
            <a href="http://api.gitlab.org/">GitLab API</a>
          </li>
          <li>
            <a href="http://demo.gitlab.com/">GitLab DEMO</a>
          </li>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Shell</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-shell/blob/master/README.md">GitLab Shell README</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-shell/blob/master/README.md#setup">GitLab Shell Installation</a>
          </li>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Continuous Integration</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/README.md">GitLab CI README</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/README.md#architecture">GitLab CI Architecture</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/doc/install/installation.md">GitLab CI Installation</a>
          </li>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Git</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab_git/blob/master/README.md">GitLab Git README</a>
          </li>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Cookbook</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/cookbook-gitlab/blob/master/README.md">GitLab Cookbook README</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/cookbook-gitlab/blob/master/README.md#installation">Installation with GitLab Cookbook</a>
          </li>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3 class="title">GitLab Omnibus</h3>
          <li>
            <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">GitLab Omnibus README</a>
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md#installation">Installation with GitLab Omnibus</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
