---
layout: default
title: Help and information
---

<div id="content" class="txt-lefty">
  <div class="container">
    <div class="entry col-sm-8 col-md-8">
      <div class="col-sm-4 col-md-4">
        <div class="row">
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md#getting-help">GitLab CE help section</a>
          </li>
          <li>
            <a href="https://groups.google.com/forum/#!forum/gitlabhq">Mailing list</a>
          </li>
          <li>
            <a href="https://github.com/gitlabhq/gitlab-public-wiki/wiki/Trouble-Shooting-Guide">Trouble Shooting Guide</a>
          </li>
          <li>
            <a href="/subscription/">Enterprise support subscription</a>
          </li>
          <li>
            <a href="/consultancy/">Consultancy</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
