---
layout: default
title: GitLab Enterprise Edition
---
<div id="content">
  <div class="container txt-lefty">         
    <div class="row">
      <div class="col-sm-9 col-md-9">   
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Community Edition and Enterprise Edition</strong>
                <br>
                GitLab comes in two editions: the Community Edition and the Enterprise Edition.
                The Community Edition can be obtained via <a href="http://www.gitlab.org">GitLab.org</a>.
                The Enterprise Edition is only available to <a href="/subscription/">subscribers of GitLab.com</a>.
                The Enterprise Edition includes all the features of the Community Edition and two additional features.
                The first feature is synchronizing LDAP groups to GitLab.
                This is in addition to the LDAP user synchronizing that is included in both editions.
                The second feature is giving the members of another group access to a project.
                This is in addition to the normal access for project members and for members of the group the project is in.
                Below is a short list of some of the features in each edition.
                For a visual overview of GitLab please see the <a href="http://gitlab.org/screenshots/">screenshots on GitLab.org</a>.
                To obtain GitLab Enterprise Edition please <a href="/subscription/"> sign up for a subscription</a>.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Feature</th>
                    <th>Community Edition</th>
                    <th>Enterprise Edition</th>
                  </tr>
                </thead>
                <tbody>
                <tr><td>unified and side-by-side diffs</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>merge requests for code review</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>line specific comments</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>issues with attachments</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>issue labels and assignments</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>issue milestones / sprints</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>link to an external issue tracker</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>activity feed per project</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>user dashboard with filters</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>comprehensive activity feed</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>a wiki which is stored in git</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>project wall</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>code snippets</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>branches and a network graph</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>unique permission levels per user and project (guest, reporter, developer, master, owner)</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>protected branches (only masters can push to protected branches)</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>forking of repo's</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>merge requests between forks</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>groups consisting of multiple people with a shared namespace for projects</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>invite the members of another group to a project</td><td style="color:red">✕</td><td style="color:green">✓</td></tr>
                <tr><td>multiple deploy keys are possible for the same project</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>multiple projects are possible for the same deploy key</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>global and per project notification settings</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>http(s) and ssh git access</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>LDAP user authentication (also compatible with Active Directory)</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>LDAP group synchronization (also compatible with Active Directory)</td><td style="color:red">✕</td><td style="color:green">✓</td></tr>
                <tr><td>Single Sign On (SSO) support via <a href="https://github.com/intridea/omniauth/wiki/List-of-Strategies#developer-strategies">Omniauth strategies</a></td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>web hooks</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>convenient backups</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>administrative interface</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>web based editor</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>code search</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>runs on physical and virtual machines</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td><a href="https://www.gitlab.com/high-availability/">high availability / clustering / scale out</a></td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>access to the source code</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                <tr><td>broadcast messages</td><td style="color:green">✓</td><td style="color:green">✓</td></tr>
                </tbody>
              </table>
              <p>
                <strong>Git </strong>
                <br>
                Gitlab is based on the open source <a href="http://git-scm.com/">Git version control system</a>. A good reference is the free <a href="http://git-scm.com/book">Pro Git ebook</a> and Clay Shirky gave a good presentation about <a href="http://www.avc.com/a_vc/2012/10/video-of-the-week.html">the potential of decentralized version control to transform society</a>.
              </p>
            </div>              
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
