---
layout: default
title: GitLab CE Downloads
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-12 col-md-12"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Packages</strong>
                <br>
                These packages contain GitLab and all its dependencies (Ruby, PostgreSQL, Redis, Nginx, Unicorn, etc.).
                They are made with <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">omnibus-gitlab</a> that also contains the installation instructions.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Platform</th>
                    <th>Download</th>
                    <th>MD5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.5-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                    <td>f67badffae3b3f855b05133f6776bf3a</td>
                  </tr>
                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.5_omnibus-1.el6.x86_64.rpm">gitlab-6.6.5_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>53fa8fb4c5572de2faeeffd91a6cdd27</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Virtual Machine Images</strong>
                <br>
                These images contain an operating system and a preinstalled GitLab.
                They are made with <a href="https://gitlab.com/gitlab-org/gitlab-packer/blob/master/README.md">GitLab Packer</a> that also contains the installation instructions.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Platform</th>
                    <th>Download</th>
                    <th>MD5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-vmi.s3.amazonaws.com/gitlab-6-6-2-ubuntu-12-04-64bit.zip">gitlab-6-6-2-ubuntu-12-04-64bit.zip</a></td>
                    <td>4f953f5559e4d06f0f64193bef5704a7</td>
                  </tr>
                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit</td>
                    <td><a href="https://downloads-vmi.s3.amazonaws.com/gitlab-6-6-5-centos-6-5-64bit.zip">gitlab-6-6-5-centos-6-5-64bit.zip</a></td>
                    <td>5586aab2bf3c2bbf95f3d7debf70a2a2</td>
                  </tr>
                </tbody>
              </table>
            </div>        
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Other installation options</strong>
                <br>
                For other installation options please see the <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/README.md#installation">installation section of the readme</a>.
              </p>
            </div>          
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
                <strong>Download archives</strong>
                <br>
                For older downloads please see the <a href="archives/">Download Archives</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
