---
layout: default
title: Products
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <a href="/gitlab-ce/"><h2>Community Edition</h2></a>
        <p>Open source software to collaborate on code.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/gitlab-ee/"><h2>Enterprise Edition</h2></a>
        <p>The Enterprise Edition includes all the features of the Community Edition with additional features.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <a href="/gitlab-ci/"><h2>GitLab CI</h2></a>
        <p>GitLab CI integrates with your GitLab installation and run tests for your projects. </p>
      </div>
    </div>
  </div>
</div>
