---
layout: default
title: Privacy Policy
---
<div id="content">
  <div class="container txt-lefty">     
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p></p><h3>Website Visitors</h3>
              <p>Like most website operators, GitLab.com collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. GitLab.com's purpose in collecting non-personally identifying information is to better understand how GitLab.com's visitors use its website. From time to time, GitLab.com may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>

              <p>GitLab.com also collects potentially personally-identifying information like Internet Protocol (IP) addresses. GitLab.com does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>

              <h3>Gathering of Personally-Identifying Information</h3>
              <p>Certain visitors to GitLab.com's websites choose to interact with GitLab.com in ways that require GitLab.com to gather personally-identifying information. The amount and type of information that GitLab.com gathers depends on the nature of the interaction. For example, we ask visitors who use our forums to provide a username and email address. In each case, GitLab.com collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with GitLab.com. GitLab.com does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>

              <h3>Aggregated Statistics</h3>
              <p>GitLab.com may collect statistics about the behavior of visitors to its websites. For instance, GitLab.com may reveal how many downloads a particular version got. However, GitLab.com does not disclose personally-identifying information other than as described below.</p>

              <h3>Protection of Certain Personally-Identifying Information</h3>
              <p>GitLab.com discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors, and affiliated organizations that (i) need to know that information in order to process it on GitLab.com's behalf or to provide services available at GitLab.com's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using GitLab.com's websites, you consent to the transfer of such information to them. GitLab.com will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors, and affiliated organizations, as described above, GitLab.com discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when GitLab.com believes in good faith that disclosure is reasonably necessary to protect the property or rights of GitLab.com, third parties, or the public at large. If you are a registered user of a GitLab.com website and have supplied your email address, GitLab.com may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with GitLab.com and our products. We primarily use our blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. GitLab.com takes all measures reasonably necessary to protect against the unauthorized access, use, alteration, or destruction of potentially personally-identifying and personally-identifying information.</p>

              <h3>Cookies</h3>
              <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. GitLab.com uses cookies to help GitLab.com identify and track visitors, their usage of GitLab.com website, and their website access preferences. GitLab.com visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using GitLab.com's websites, with the drawback that certain features of GitLab.com's websites may not function properly without the aid of cookies.</p>

              <h3>Privacy Policy Changes</h3>
              <p>Although most changes are likely to be minor, GitLab.com may change its Privacy Policy from time to time, and in GitLab.com's sole discretion. GitLab.com encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>



              <p><a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20"></a>  <strong>Creative Commons Sharealike</strong> license, parts taken from <a href="http://www.wordpress.com/">WordPress.com</a> Privacy Policy</p><p></p>

            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
