---
layout: default
title: GitLab.com Blog
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-9 col-md-9"> 
        <div class="entry">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <ul>
                {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  <small>{{ post.date | date: "%d %B %Y" }}</small>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <a href="{{ site.subscribe_rss }}" class="btn btn-primary" rel="subscribe-rss" title="Subscribe via RSS">Subscribe via RSS</a>
      </div>
      <br>
      <br>
      {% include twitter_bar.html %}
    </div>
  </div>
</div>
