<p>
The following terms and conditions govern all use of the Gitlab.com website (the “Website”) and all content, services and products available at or through the website.
The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, procedures that may be published from time to time on this Website by Gitlab.com (collectively, the “Agreement”).
</p>
<p>
Please read this Agreement carefully before accessing or using the Website.
By accessing or using any part of the Website, you agree to be bound by the terms and conditions of this agreement.
If you do not agree to all the terms and conditions of this Agreement, then you may not access the Website or use any services.
If these terms and conditions are considered an offer by Gitlab.com, acceptance is expressly limited to these terms.
The Website is available only to individuals who are at least 13 years old.
</p>
<ol>
  <li>
  <strong>Ownership.</strong>
  When you submit content to the Website we do not claim any ownership rights to the information that you submit. Your code stays your code.
  </li>
  <li>
  <strong>Your Gitlab.com Account and Site.</strong>
  If you create an account on the Website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account.
  You must immediately notify Gitlab.com of any unauthorized use of your account or any other breaches of security.
  Gitlab.com will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
  </li>
  <li>
  <strong>Payment and Renewal.</strong>
  By selecting a subscription, you agree to pay Gitlab.com the monthly or annual subscription fees indicated for that service.
  Subscription fees are not refundable.
  Unless you notify Gitlab.com before the end of the applicable subscription period that you want to cancel, you subscription will be automatically renewed and you authorize us to collect the then-applicable annual or monthly subscription fee using any credit card or other payment mechanism we have on record for you.
  Subscriptions can be canceled at any time.
  </li>
  <li>
  <strong>Reference.</strong>
  GitLab.com shall be entitled to use the name and logo of your organization publicly as a reference in relation to the marketing and distribution of its products and/or services.
  </li>
  <li>
  <strong>Support.</strong>
  Subscriptions include access to priority email support.
  “Email support” means the ability to make requests for technical support assistance by email at any time (with reasonable efforts by Gitlab.com to respond within one business day).
  </li>
  <li>
  <strong>Responsibility of Website Visitors.</strong>
  Gitlab.com has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects.
  By operating the Website, Gitlab.com does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful.
  You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
  The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors.
  The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated.
  Gitlab.com disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.
  </li>
  <li>
  <strong>Content Posted on Other Websites.</strong>
  We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which Gitlab.com links, and that link to Gitlab.com.
  Gitlab.com does not have any control over those non-Gitlab.com websites and webpages, and is not responsible for their contents or their use.
  By linking to a non-Gitlab.com website or webpage, Gitlab.com does not represent or imply that it endorses such website or webpage.
  You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
  Gitlab.com disclaims any responsibility for any harm resulting from your use of non-Gitlab.com websites and webpages.
  </li>
  <li>
  <strong>Copyright Infringement and DMCA Policy.</strong>
  As Gitlab.com asks others to respect its intellectual property rights, it respects the intellectual property rights of others.
  If you believe that material located on or linked to by Gitlab.com violates your copyright, you are encouraged to notify Gitlab.com in accordance with our <a title="Contact" href="http://blog.gitlab.com/contact/">DMCA policy</a>.
  Gitlab.com will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material.
  Gitlab.com will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Gitlab.com or others.
  In the case of such termination, Gitlab.com will have no obligation to provide a refund of any amounts previously paid to Gitlab.com.
  </li>
  <li>
  <strong>Intellectual Property.</strong>
  This Agreement does not transfer from Gitlab.com to you any Gitlab.com or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Gitlab.com.
  Gitlab.com, the Gitlab.com logo, and all other trademarks, service marks, graphics and logos used in connection with Gitlab.com, or the Website are trademarks or registered trademarks of Gitlab.com or Gitlab.com’s licensors.
  Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties.
  Your use of the Website grants you no right or license to reproduce or otherwise use any Gitlab.com or third-party trademarks.
  </li>
  <li>
  <strong>Changes.</strong>
  Gitlab.com reserves the right, at its sole discretion, to modify or replace any part of this Agreement.
  It is your responsibility to check this Agreement periodically for changes.
  Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes.
  Gitlab.com may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources).
  Such new features and/or services shall be subject to the terms and conditions of this Agreement.
  <strong><br /></strong>

  </li>
  <li>
  <strong>Termination.</strong>
  Gitlab.com may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately.
  If you wish to terminate this Agreement or your Gitlab.com account (if you have one), you may simply discontinue using the Website.
  All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
  <strong><br /></strong>

  </li>
  <li>
  <strong>Disclaimer of Warranties.</strong>
  The Website is provided “as is”.
  Gitlab.com and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.
  Neither Gitlab.com nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted.
  You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
  </li>
  <li>
  <strong>Limitation of Liability.</strong>
  In no event will Gitlab.com, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Gitlab.com under this agreement during the twelve (12) month period prior to the cause of action.
  Gitlab.com shall have no liability for any failure or delay due to matters beyond their reasonable control.
  The foregoing shall not apply to the extent prohibited by applicable law.
  </li>
  <li>
  <strong>General Representation and Warranty.</strong>
  You represent and warrant that (i) your use of the Website will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
  </li>
  <li>
  <strong>Indemnification.</strong>
  You agree to indemnify and hold harmless Gitlab.com, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
  </li>
  <li>
  <strong>Miscellaneous.</strong>
  This Agreement constitutes the entire agreement between Gitlab.com and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Gitlab.com, or by the posting by Gitlab.com of a revised version.
  Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the Netherlands.
  Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc.
  (“JAMS”) by three arbitrators appointed in accordance with such Rules.
  The arbitration shall take place in the Netherlands, in the English language and the arbitral decision may be enforced in any court.
  The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees.
  If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect.
  A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.
  You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Gitlab.com may assign its rights under this Agreement without condition.
  This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license, parts taken from <a href="http://www.wordpress.com/">WordPress.com</a> ToS
</p>


