<ol>
  <li> <strong>Scope of services</strong>
  <p>
  The services to be provided shall consist of consulting provided by GitLab.com to the client.
  </p>

  <p>
  Unless specified otherwise the work will be performed remotely and is based on best effort.
  </p>
  </li>

  <li> <strong>Planning and appointment</strong>
  <p>
  If required GitLab.com and the client will schedule an appointment to perform the work.
  During the appointment the client will make an on-call engineer available that can answer operational questions.
  Examples of question subjects are: ssh access, file permissions, routing, email, backup settings, external issue tracker urls and LDAP configuration.
  </p>
  </li>

  <li> <strong>Estimates and Acceptance</strong>
  <p>
  Work can be performed based on an hourly estimate for (part of) the work or without an estimate.
  Estimates are a best-guess by GitLab.com and are not a guarantee that the work will be performed in that time or that it can be completed at all.
  During the appointment GitLab.com will provide status updates when requested to do so.
  The client can decide to terminate the consulting at any point after the start of the appointment.
  The client can decide to test the work during the appointment or afterwards.
  If there is additional work needed after testing this will be invoiced at the normal rate.
  </p>
  </li>

  <li> <strong>Rate and terms of payment</strong>
  <p>
  The consulting rate is $150.00 per hour, there are no additional costs.
  The number of billable hours is calculated by rounding up to the nearest hour.
  Work will be invoiced after it is performed.
  Payment can happen by international bank transfer to the Netherlands or by credit card, payment by cheque is not possible.
  </p>
  </li>

  <li> <strong>Disclaimer of warranty</strong>
  <p>
  GitLab.com makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab.com and waived by the client.
  In no event will GitLab.com be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the Enterprise Support Subscription.
  In any event, GitLab.com's maximum liability to the client shall be limited to the amounts actually paid to GitLab.com during the previous twelve (12) months.
  </p>
  </li>

  <li> <strong>Confidentiality</strong>
  <p>
  GitLab.com acknowledges that in the course of providing the services, and of other services provided, GitLab.com or its employees or consultants, may be supplied with or come into possession of information which is proprietary to the client.
  Including information as to code, licenses, methods of doing business, and operations.
  GitLab.com hereby agrees that it will keep all such information confidential, and will disclose such information to no other person or entity.
  In addition, GitLab.com agrees to take such action as may be necessary or appropriate by way of agreement with, and instruction to, its employees so as to maintain the confidentiality of such confidential information and licenses.
  </p>
  </li>

  <li> <strong>Partial invalidity</strong>
  <p>
  If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  </p>
  </li>

  <li> <strong>Failure to enforce</strong>
  <p>
  The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  </p>
  </li>

  <li> <strong>Arbitration</strong>
  <p>
  All disputes arising out of or in connection with the present contract shall be finally settled under the Rules of Arbitration of the International Chamber of Commerce by one or more arbitrators appointed in accordance with the said Rules.
  </p>
  </li>

  <li> <strong>Forum selection</strong>
  <p>
  This contract is governed by the laws of the Netherlands and any dispute shall be finally resolved by the Dutch courts.
  </p>
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license
</p>
