<div class="span3">
  <div class="entry">
    <p><img src="/images/gitlabdotcom.png" alt="gitlab.com"></p>
    <p>As the operator of GitLab Cloud, the world's largest GitLab installation, we know how to scale and support GitLab.</p> 
    <p>Our team includes <b>the lead author of GitLab</b> so we can resolve the most complex problems quickly. Mitigate risks and increase availibility by having worlds best GitLab professionals work with your team.</p>
    <p>Get your questions answered quickly and receive expert guidance when doing upgrades and customizations. If you want to be certain that your GitLab installation is rock solid then this is the best option for you.</p>
  </div>	    
</div>
