<p>
The following terms govern the services provided by GitLab.com to clients with a subscription.
Please read this document carefully before purchasing an subscription.
By purchasing a subscription you agree to be bound by the terms of this document.
</p>

<ol>
  <li> <strong>Services</strong>

  <p>
  The services to be provided shall consist of assistance provided by GitLab.com to the client.
  </p>

  <p>
  Assistance can be provided via email, telephone, ssh, teleconferencing, chat or onsite at the discretion of GitLab.com.
  Resolution will be a priority based on best effort.
  </p>

  <p>
  Availability incidents are defined as incidents that affect security, data integrity or prevent core functions from working for the majority of users with no workaround.
  GitLab.com can respond to availability incidents by providing remote assistance over ssh or via teleconferencing at the descretion of the client.
  </p>
  </li>

  <li> <strong>Subscription</strong>
  <p>
  The subscription fee will be specified on your invoice.
  The subscription will renew automatically.
  GitLab.com reserves the right to adjust the rate at renewal time.
  </p>

  <li> <strong>Additional consulting services</strong>
  <p>
  At the request of a client and with its written consent GitLab.com may also provide consulting in excess of the amount included in the subscription fee at GitLab.com's standard rate, then in effect.
  </p>
  </li>
  <li> <strong>Termination</strong>
  <p>
  The termination of the subscription can happen with a written notice at any time by both the client and GitLab.com.
  If a termination happens in the first 30 days there is no charge and any paid fees will be refunded to the client.
  Should the client fail to pay all or any part of the fees on the due date GitLab.com may terminate the subscription.
  When the client terminates the subscription they will forfeit any and all money already paid.
  </p>
  </li>

  <li> <strong>Disclaimer of warranty</strong>
  <p>
  GitLab.com makes no warranty, express or implied, with regard to the services provided, all such warranties are hereby excluded by GitLab.com and waived by the client.
  In no event will GitLab.com be liable to the client or any other individual or entity connected with the client for any claim, loss of revenue profits, sales, business, data, code, service, information exclusivity or damage of any kind of nature, arising out of or in connection with the subscription.
  In any event, GitLab.com's maximum liability to the client shall be limited to the amounts actually paid to GitLab.com during the previous twelve (12) month subscription term.
  </p>
  </li>

  <li> <strong>Confidentiality</strong>
  <p>
  GitLab.com acknowledges that in the course of providing the services, and of other services provided, GitLab.com or its employees or consultants, may be supplied with or come into possession of information which is proprietary to the client.
  Including information as to code, licenses, methods of doing business, and operations.
  GitLab.com hereby agrees that it will keep all such information confidential, and will disclose such information to no other person or entity.
  In addition, GitLab.com agrees to take such action as may be necessary or appropriate by way of agreement with, and instruction to, its employees so as to maintain the confidentiality of such confidential information and licenses.
  </p>
  </li>

  <li> <strong>Partial invalidity</strong>
  <p>
  If any provision of this document is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remaining provisions shall nevertheless continue in full force without being impaired or invalidated in any way.
  </p>
  </li>

  <li> <strong>Failure to enforce</strong>
  <p>
  The failure of either party to enforce at any time, or for any period of time, the provisions hereof shall not be construed to be a waiver of such provisions or of the right of such party to enforce each and every such provision.
  </p>
  </li>

  <li> <strong>Arbitration</strong>
  <p>
  All disputes arising out of or in connection with the present contract shall be finally settled under the Rules of Arbitration of the International Chamber of Commerce by one or more arbitrators appointed in accordance with the said Rules.
  </p>
  </li>

  <li> <strong>Forum selection</strong>
  <p>
  This contract is governed by the laws of the Netherlands and any dispute shall be finally resolved by the Dutch courts.”
  </p>
  </li>
</ol>
<p>
  <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Sharealike</a> license
</p>
