---
layout: default
title: GitLab CE Download Archives
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="entry">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <p>
              <strong>The downloads below are obsolete.</strong>
              <br>
              The downloads below should only be used in case you need to revert GitLab back to an older version.
              </p>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <p>
                  <strong>Omnibus packages (beta, do not use in production)</strong>
                  <br>
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Platform</th>
                      <th>Download</th>
                      <th>MD5</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb">gitlab_6.6.4-omnibus-1.ubuntu.12.04_amd64.deb</a></td>
                    <td>fa5642248ef8ea1ff3970abc7547f7fc</td>
                  </tr>
                  <tr>
                    <td><img src="/images/ubuntu.png"></td>
                    <td>Ubuntu 12.04 LTS 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.3-1.ubuntu.12.04_amd64.deb</a></td>
                    <td>a3fcf83062b5de1a035db1f0b00a63ea</td>
                  </tr>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb">gitlab_6.6.0-pre1.omnibus.2-1.ubuntu.12.04_amd64.deb</a></td>
                      <td>d9702efc7fe13d4033c50a3c382b0227</td>
                    </tr>
                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.4_omnibus-1.el6.x86_64.rpm">gitlab-6.6.4_omnibus-1.el6.x86_64.rpm</a></td>
                    <td>19f0ef4601d556eef31e38f7282e70aa</td>
                  </tr>
                  <tr>
                    <td><img src="/images/centos.png"></td>
                    <td>CentOS 6.5 64bit</td>
                    <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.3-1.el6.x86_64.rpm</a></td>
                    <td>6ed0d89d1c7d65f80df60d78eab1e87d</td>
                  </tr>
                    <tr>
                      <td><img src="/images/centos.png"></td>
                      <td>CentOS 6.5 64bit</td>
                      <td><a href="https://downloads-packages.s3.amazonaws.com/gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm">gitlab-6.6.0_pre1.omnibus.2-1.el6.x86_64.rpm</a></td>
                      <td>34a0fef3c803f86f9584e54de0e45cc9</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <p>
                  <strong>Virtual Machine Images</strong>
                </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Platform</th>
                      <th>Download</th>
                      <th>MD5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="/images/ubuntu.png"></td>
                      <td>Ubuntu 12.04 LTS 64bit</td>
                      <td><a href="https://downloads-vmi.s3.amazonaws.com/gitlab-6-5-1-ubuntu-12-04-64bit.zip">gitlab-6-5-1-ubuntu-12-04-64bit.zip</a></td>
                    <td>be40f88c54c4f1298feb6c401e7b565c</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
